// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

.title-bar {
    padding: 1rem 0.5rem;
    background: #F5F5F5;
    color: #192861;
  }

  .topbar__dropmenu > ul > li > a::after {
    margin-top: -1px !important;
    border-top-color: #192861 !important;
  }

  .topbar__dropmenu > ul > li > a {
    color: #192861;
  }

  ::placeholder {
    color: #192861;
  }

  .topbar__search input {
    background: #F5F5F5;
  }

  .topbar__search input {
    color: #192861;
    border-color: #192861;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.02);
    margin-top: 8px;
    display: inline-block;
    border-radius: 4px 0 0 4px;
    transition: 0.3s all;
    height: 2.5rem;
  }

  .topbar__admin__link a {
    color: #192861;
  }

  .navbar {
    background: #192861;
  }

  .process-header__main::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(25, 40, 97);
  }

  .topbar__user__login a {
    color: #192861;
    font-weight: 600;
  }

  